# This is a basic workflow to help you get started with Actions

name: Nightly build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, feature/*, fix/*, Architecture ]
  pull_request:
    branches: [ main, release/* ]
    paths-ignore: '.github/'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Build for Windows
    
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        name: Checkout Git
        with:
          submodules: recursive
    
      - name: get-cmake
        # You may pin to the exact commit or the version.
        # uses: lukka/get-cmake@f9881bde497b750f306f2a71dae9bc9fe92279d1
        uses: lukka/get-cmake@v3.22.2
      
      - name: CMake configure
        run: cmake --preset Debug
        
      - name: CMake build Debug
        run: cmake --build out/build/Debug
          
      - name: Test
        run: ctest out/build/Debug/tests
        
      - name: Remove
        continue-on-error: true
        run: Remove-Item 'out/build' -recurse

      - name: CMake configure
        run: cmake --preset Release
        
      - name: CMake build Release
        run: cmake --build out/build/Release
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.3.1
